[submodule "vim.symlink/bundle/ctrlp"]
	path = vim.symlink/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim.symlink/bundle/fugitive"]
	path = vim.symlink/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/surround"]
	path = vim.symlink/bundle/surround
	url = https://github.com/tpope/vim-surround.git
