[submodule "vim.symlink/bundle/ctrlp"]
	path = vim.symlink/bundle/ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim.symlink/bundle/fugitive"]
	path = vim.symlink/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
